<div class="card-user-profile">
  <img class="card-user-profile-img" src="../assets/img/bg5.jpg" alt="Carlos at work" />
  <div class="card-user-profile-content card-section">
    <div class="card-user-profile-avatar">
      <img src="../assets/img/carlos.jpg" alt="picture of Carlos" />
    </div>
    <p class="card-user-profile-name">Carlos Valente</p>
    <p class="card-user-profile-status">CTO</p>
    <p class="card-user-profile-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <div class="card-user-profile-actions">
    <a href="#" class="card-user-profile-button button hollow">Meet Carlos</a>
    <a href="#" class="card-user-profile-button button hollow secondary">Carlos's Story</a>
  </div>
</div>
